/vendor
/composer.lock
/backend/storage/*
/Homestead.yaml
/.vagrant
/.env
/node_modules
.phpstorm.meta.php
backend/_ide_helper.php
Vagrantfile
public/img/*
!public/img/.gitempty
public/assets/js/*
backend/database/database.sqlite